.app-header
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 2

.app-content
    margin-top: 4rem
    height: calc(100vh - 4rem)
    z-index: 1

.app-footer
    position: fixed
    bottom: 0
    left: 0
    right: 0

.spacer
    flex: 1 1 auto
