<mat-toolbar class="app-header" color="primary">
  <a mat-button routerLinkActive="active-link" routerLink="/home">
    <mat-icon>dashboard</mat-icon>Covid-PyDash
  </a>
  <a *ngFor="let toolbarElement of TOOLBAR_ELEMENTS" mat-flat-button color="primary" routerLinkActive="active-link"
    [routerLink]="toolbarElement.route">
    {{toolbarElement.title}}
  </a>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="secondary" class="app-footer">Footer</mat-toolbar>