@import "../../../styles.scss";


.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    padding: $default-margin;

    .loading-indicator {
        position: absolute;
        top: 0;
        left: 0;
    }

    .header {
        height: $dashboard-widget-header-height;

        .subtitle {
            margin: 0;
        }

        .actions {
            position: absolute;
            right: $default-margin;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .no-data,
    .error {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: $overlay-z-index;
        background-color: white;
    }

    .content {
        position: absolute;
        width: 100%;
        top: $dashboard-widget-header-height;
        left: 0;
        // Compensate for padding top and bottom
        bottom: calc(2 * $default-margin);
    }
}