<div class="container">
    <mat-progress-bar class="loading-indicator" mode="indeterminate"></mat-progress-bar>
    <div class="header-section">
        <div class="header">
            <div class="actions">
                <button mat-button>DELETE</button>
                <button mat-button>RELOAD</button>
            </div>
            <div class="subtitle">
                <h4>Schweregrad der Pandemie</h4>
            </div>
            <div class="title">
                <h2>Corona Fallzahlen</h2>
            </div>
        </div>
    </div>

    <ng-template #itemTemplate></ng-template>


</div>