<form [formGroup]="createDashboard" class="create-dashboard-form">
    <mat-form-field>
        <mat-label>Enter a name for your dashboard</mat-label>
        <input matInput placeholder="My awesome dashboard" formControlName="name" required>
        <mat-error *ngIf="createDashboard.controls.name.errors?.required">Name is required</mat-error>
        <mat-error *ngIf="createDashboard.controls.name.errors?.minlength">Name has to be at least 2 characters long
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select a Template if you wish</mat-label>
        <mat-select formControlName="selectedTemplate">
            <mat-option *ngFor="let template of templates" [value]="template">{{getTemplateFriendlyName(template)}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-button color="primary" [disabled]="!createDashboard.valid" (click)="onCreateDashboard(false)">CREATE
        DASHBOARD</button>
    <button mat-button color="primary" [disabled]="!createDashboard.valid" (click)="onCreateDashboard(true)">CREATE AND
        EDIT DASHBOARD</button>
</form>