<mat-toolbar class="filter-area" color="secondary">
  <mat-chip-list>
    <mat-chip (click)="onApplyTimeRange(timeRange)" *ngFor="let timeRange of timeRanges"
      [selected]="isSelectedTimeRange(timeRange)" (removed)="removeTimeRange(timeRange)">
      {{timeRange}} <button *ngIf="canRemoveTimeRange()" matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button></mat-chip>
  </mat-chip-list>
  <div class="spacer"></div>
  <button mat-mini-fab color="primary" (click)="toggleFilterSidebar()">
    <mat-icon>filter_alt</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<mat-drawer-container>
  <mat-drawer position="end" #filterSidebar mode="over" closed>
    <form [formGroup]="filters" (ngSubmit)="onApplyFilters()" class="filters-form">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="filters.controls.startDate.errors">No valid start date specified</mat-error>
        <mat-error *ngIf="filters.controls.endDate.errors">No valid end date specified</mat-error>
      </mat-form-field>

      <button id="applyFilterButton" mat-button color="primary" type="submit" [disabled]="!filters.valid">APPLY
        FILTERS</button>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <gridster class=" grid" [options]="options" *ngIf="dashboard">
      <gridster-item class="widget-container" [item]="item" *ngFor="let item of dashboard?.widgets">
        <dashboard-widget (onDelete)="deleteWidget($event)" [item]="item">
        </dashboard-widget>
      </gridster-item>
    </gridster>

    <div class="dashboard-actions">
      <button mat-fab color="accent" (click)="saveDashboard()">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-fab [color]="getEditModeColor()" (click)="toggleEditMode()">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-fab color="accent" (click)="addWidget()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-drawer-content>
</mat-drawer-container>