@import "../../../styles.scss";

.filters-form {
    display: flex;
    flex-direction: column;
    padding: $default-margin;

    #applyFilterButton {
        margin: $default-margin 0;
    }

    mat-chip-list {
        padding: 0 $default-margin;
    }


}

.filter-area {
    height: $dashboard-filter-area-height;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboard-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 50px;
    right: 50px;
    z-index: $dashboard-actions-z-index;

    button {
        margin-bottom: $default-margin;
    }
}

.widget-container {
    background-color: $widget-bg;
}

mat-progress-bar {
    position: absolute;
    top: calc($route-heading-height + $dashboard-filter-area-height);
    z-index: $dashboard-loading-indicator-z-index;
}

gridster {
    height: calc(100vh - $app-header-height - $route-heading-height - $dashboard-filter-area-height);
    background-color: $gridster-bg;
}