@import "../../../styles.scss";

.filter-area {
    height: $dashboard-filter-area-height;
}

.dashboard-actions {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 50px;
    right: 50px;
    z-index: $dashboard-actions-z-index;

    button {
        margin-bottom: $default-margin;
    }
}


.widget-container {
    background-color: $widget-bg;
}

gridster {
    height: calc(100vh - $app-header-height - $route-heading-height - $dashboard-filter-area-height);
    background-color: $gridster-bg;
}