<mat-toolbar class="filter-area" color="secondary">
  <div class="spacer"></div>
  <button mat-icon-button color="primary">
    <mat-icon>filter_alt</mat-icon>
  </button>
</mat-toolbar>
<gridster class="grid" [options]="options">
  <gridster-item class="widget-container" [item]="item" *ngFor="let item of dashboard">
    <dashboard-widget (onDelete)="deleteWidget($event)" [item]="item">
    </dashboard-widget>
  </gridster-item>
</gridster>


<button mat-fab color="primary" (click)="addWidget()" class="add-widget-button">
  <mat-icon>add</mat-icon>
</button>