.grid
    background-color: #323232

.widget-container
    background-color: #424242

.dashboard-container
    position: absolute
    top: 0
    bottom: 65px
    left: 0
    right: 0

.spacer
    flex: 1 1 auto
