<div class="container">
    <h1>Purpose</h1>

    <p>Covid PyDash was created as a proof of concept Web Application during my bachelor thesis related to Corona Data
        Visualizations. The main goal of Covid PyDash is to give users the possibility to create their personalized
        Corona Dashboards. Do note that this Application is entirely non profit and does not pursue any monetary
        intentions</p>

    <h1>A big Thank you</h1>
    <p>This Web Application would not have been possible without these libraries. Therefore a very big thank you to all
        those awesome libraries (click to visit)</p>

    <mat-nav-list>
        <mat-list-item><a matLine href="https://angular.io/" target="_blank">Angular Framework as the base</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://material.angular.io/" target="_blank">Angular Material for styling</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://github.com/tiberiuzuld/angular-gridster2" target="_blank">Angular
                Gridster 2 for the Dashboard Drag and Drop</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://flask.palletsprojects.com/en/2.1.x/" target="_blank">Flask for the REST
                API and Backend</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://pypi.org/project/pandas/" target="_blank">Python Pandas Library for data
                processing</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://www.highcharts.com/" target="_blank">HighCharts for awesome and fast
                data charts</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://www.npmjs.com/package/@highcharts/map-collection"
                target="_blank">HighCharts Map Collection for getting specific maps (Switzerland for now)</a>
        </mat-list-item>
    </mat-nav-list>

    <h1>About the data</h1>
    <p>The data used in this application was provided by the Federal Office of Public Health Switzerland. The data in
        the FAQ Secion was provided by the bag of Switzerland (click to visit):
    </p>

    <mat-nav-list>
        <mat-list-item><a matLine href="https://www.covid19.admin.ch/api/data/documentation" target="_blank">Information
                about Covid deaths (see COVID19Death_geoRegion.csv)</a>
        </mat-list-item>
        <mat-list-item><a matLine href="https://www.covid19.admin.ch/api/data/documentation" target="_blank">Information
                about Covid Hospital capacity (see COVID19HospCapacity_geoRegion.csv)</a>
        </mat-list-item>
        <mat-list-item><a matLine
                href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/haeufig-gestellte-fragen.html"
                target="_blank">Information used for FAQ section</a>
        </mat-list-item>
    </mat-nav-list>

</div>