@import './theme.scss';

@include cust-theme($custom-theme);


$gridster-bg: #E1E2E1;
$widget-bg: white;

$app-header-height: 60px;
$app-header-z-index: 2;
$overlay-z-index: 2;

$dashboard-actions-z-index: 3;

$route-heading-height: 80px;
$dashboard-filter-area-height: 60px;

$default-margin: 16px;

$big-margin: 64px;

$dashboard-widget-header-height: 100px;

.spacer {
    flex: 1 1 auto;
}