@import "../../../styles.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $default-margin;
    text-align: center;

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .faq-card {
            max-width: 500px;
            margin: $default-margin;
        }

    }
}