<div class="container">
    <h1>Below you can find some relevant information regarding Corona</h1>

    <h2>Please note that the data represented in this section was taken from the BAG of Switzerland. More information
        can therefore be found <a
            href="https://www.bag.admin.ch/bag/en/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/haeufig-gestellte-fragen.html"
            target="_blank">here</a></h2>

    <div class="card-container">
        <mat-card class="faq-card">
            <mat-card-subtitle>Infection and risk</mat-card-subtitle>
            <mat-card-title>
                <p>
                    How long is the period between infection and the appearance of symptoms? And when do people become
                    contagious?
                </p>
            </mat-card-title>
            <mat-card-content>
                <p>The coronavirus has an incubation period – i.e. the time between infection and the appearance of the
                    first symptoms – of around five 5 days. However, this period can last up to 14 days.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="faq-card">
            <mat-card-subtitle>Infection and risk</mat-card-subtitle>
            <mat-card-title>
                <p>
                    I was ill with coronavirus and have since recovered. Is it possible for me to be re-infected with
                    the virus?
                </p>
            </mat-card-title>
            <mat-card-content>
                <p>In general, you can be infected with the coronavirus several times. However, the likelihood is lower
                    after you have been through an infection. How long this protection lasts, however, has not yet been
                    conclusively clarified.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="faq-card">
            <mat-card-subtitle>Disease, symptoms, treatment</mat-card-subtitle>
            <mat-card-title>
                <p>
                    Can COVID-19 (coronavirus disease) be treated with antibiotics?
                </p>
            </mat-card-title>
            <mat-card-content>
                <p>No. Antibiotics only work for bacteria, not viruses. For this reason it is not possible to cure the
                    coronavirus disease with antibiotics.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="faq-card">
            <mat-card-subtitle>Masks</mat-card-subtitle>
            <mat-card-title>
                <p>
                    Do I need to wear a face mask if I come into contact with someone at especially high risk?
                </p>
            </mat-card-title>
            <mat-card-content>
                <p>It may be sensible to wear a face mask to protect those at high risk. Given the better filtering
                    effect when used correctly, filtering face piece masks may also make sense to protect people in
                    vulnerable groups or yourself in areas with an elevated risk.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>