<h1 mat-dialog-title>Select which widget to create</h1>
<div mat-dialog-content>
    <mat-selection-list #widgetTypes>
        <mat-list-option [value]="widget" *ngFor="let widget of supportedWidgets">
            {{description(widget)}}
        </mat-list-option>
    </mat-selection-list>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeWithoutResult()">CANCEL</button>
    <button mat-button (click)="closeWithResults(widgetTypes.selectedOptions.selected)" cdkFocusInitial>CREATE</button>
</div>